.card {
  border-left: 1px solid #fff;
  min-width: 10rem;
  margin-bottom: .5rem;
  margin-right: .5rem;
  color: green;
  background-color: #fff;
  font-size: .8rem;
  font-family: sans-serif;
  color: #474747; }
  .card__dot {
    margin: .6rem .8rem;
    height: .6rem;
    width: .6rem;
    border-radius: 50%;
    background-color: lightgray; }
  .card__item {
    margin: .25rem 0;
    padding-left: .5rem; }
  .card__title {
    font-size: 1rem;
    line-height: 1.4rem; }
  .card__link {
    text-decoration: none;
    color: #41bef4;
    font-size: .75rem; }
  .card__abstract {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 3.5rem; }

.td-wrapper {
  display: flex; }

.vd-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem; }
  .vd-wrapper__views {
    font-style: italic; }
  .vd-wrapper__download {
    font-style: italic; }

.card-grid-view {
  width: 32%; }

.card-list-view {
  width: 98%; }

.foo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem; }

.vd-group {
  display: flex;
  font-style: italic; }

.vd-read {
  align-self: center;
  font-size: .7rem; }
