.card {
  border-left: 1px solid #fff;
  min-width: 10rem;
  margin-bottom: 4px;
  margin-right: 4px;
  color: green;
  background-color: #fff;
  font-size: .8rem;
  font-family: sans-serif;
  color: #474747; }
  .card__items {
    margin: 2px; }

.card-grid-view {
  width: 32%; }

.card-list-view {
  width: 98%; }

.card-abstract {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 3.5rem; }

.dot {
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
  background-color: lightgray; }
