.card {
  border: 1px solid blue; // to be deleted
  width: 30%;
  margin-bottom: 2px;
  margin-right: 2px;

  // &__items {
  //   border: 1px solid orangered; // to be deleted
  //   margin: 2px;
  // }
}

